<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask app</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
    <script src="../static/crop.js"></script>
  </head>
  <body>
    
    <div class="photo_box">
      <div class="upload_btn">
        <div class="upload">
          <input type="file" name="photoBtn" accept="image/jpg, image/png" capture="camera" id="photoBtn"><label for="photoBtn">사진 첨부하기</label>
        </div>
        <a href="javascript:void(0)" id="resetPhoto">다시 올리기</a>
      </div>
      <div class="photo_them">
        <div class="them_img">
          <img src="" id="image">
        </div>
      </div>
      <a href="javascript:void(0);" id="complete">업로드</a>
    </div>

  </body>
</html>